* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 6vh;
  width: 100%;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}
.container-1 .logo {
  display: flex;
  justify-self: end;
  font-size: 30px;
}
.container-1 .input-group {
  display: flex;
  justify-self: start;
  gap: 10px;
  width: 50%;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 40vh;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.container-2 .background-image {
  width: 100%;
  height: 100%;
  background-image: url("background-image.jpg"); /* Replace 'background-image.jpg' with the URL or path to your background image */
  background-size: cover;
  background-position: center;
  position: relative;
  grid-area: 1/1/span 6/span 3;
}
.container-2 .card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  grid-area: 2/2/span 3/span 1; /* grid-row-start / grid-column-start / row-span / column-span */
}
.container-2 .name {
  grid-area: 5/1/span 1/span 3;
}
.container-2 .nav-pills {
  grid-area: 6/1/span 1/span 3; /* grid-row-start / grid-column-start / row-span / column-span */
  gap: 40px;
  z-index: 0;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 80vh;
  width: 100%;
  align-items: center;
}
.container-3 .friends-container {
  grid-area: 1/1/span 5/span 1; /* grid-row-start / grid-column-start / row-span / column-span */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.container-3 .friends-container .list-group-item {
  width: 100%;
  height: auto; /* Let the height be determined by content */
  margin-bottom: 20px; /* Add margin bottom for spacing between posts */
  background-color: white; /* Optional: Add background color to posts */
  border: 1px solid #ccc; /* Optional: Add border to posts */
  padding: 30px; /* Optional: Add padding to posts */
  border-radius: 5px; /* Optional: Add border radius to posts for a nicer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow to posts for a lifted look */
}
.container-3 .friends-container .list-group-item .online-status {
  display: block;
  background-color: green;
  height: 10px;
  width: 10px;
}
.container-3 .photo-container {
  grid-area: 1/2/span 2/span 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px; /* Gap between photos */
}
.container-3 .photo-container .photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-3 .own-feed-container {
  grid-area: 3/2/span 3/span 2; /* grid-row-start / grid-column-start / row-span / column-span */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}
.container-3 .own-feed-container .post {
  width: 100%;
  height: auto; /* Let the height be determined by content */
  margin-bottom: 20px; /* Add margin bottom for spacing between posts */
  background-color: white; /* Optional: Add background color to posts */
  border: 1px solid #ccc; /* Optional: Add border to posts */
  padding: 20px; /* Optional: Add padding to posts */
  border-radius: 5px; /* Optional: Add border radius to posts for a nicer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow to posts for a lifted look */
}/*# sourceMappingURL=network_profile_loggedin.css.map */