* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    height: 6vh;
    width: 100%;
    grid-gap: 10px; 
    justify-items: center; 
    align-items: center;
    //background-color: brown;


    .logo {
        display: flex;
        justify-self: end;
        font-size: 30px;
    } 

    .input-group {
        display: flex;
        justify-self: start;
        gap: 10px;
        width: 50%;
        //grid-column: span 2;
        
    }
}

/*.nav-pills {
    display: flex;
    justify-content: space-evenly;
}*/


.container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    height: 40vh;
    width: 100%;
    justify-items: center; 
    align-items: center; 

    .background-image{
        width: 100%;
        height: 100%;
        background-image: url('background-image.jpg'); /* Replace 'background-image.jpg' with the URL or path to your background image */
        background-size:cover;
        background-position: center;
        position: relative;
        grid-area: 1 / 1 / span 6 / span 3;
    }

    .card {
        width: 200px; 
        height: 200px; 
        border-radius: 50%;
        grid-area: 2 / 2 / span 3 / span 1; /* grid-row-start / grid-column-start / row-span / column-span */
    }

    .name {
        grid-area: 5 / 1 / span 1 / span 3;
    }

    .nav-pills {
        grid-area: 6 / 1 / span 1 / span 3; /* grid-row-start / grid-column-start / row-span / column-span */
        gap: 40px;
        z-index: 1;
    }

}

.container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    background-color: green;
    height: 80vh;
    width: 100%;
    grid-gap: 10px; 
    align-items: center; 

    .friends-container {
        grid-area: 2 / 1 / span 4 / span 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .list-group {
            gap: 40px;
        }
    }

    .photo-container {
        grid-area: 1/ 2 / span 2 / span 2;
        height: 100%;
        width: 100%;
        background-color: yellow;
        display: grid; /* Change to grid layout */
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        grid-template-rows: repeat(2, 1fr); /* Two rows */
        grid-gap: 10px; /* Gap between photos */
        
        .photo {
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .feed-container {
        grid-area: 3 / 2 / span 3 / span 2; /* Span 3 rows, 2 columns */
        /* Your styling for feed container */
        background-color: gray;
        display: flex;
        flex-direction: column;
    }

    /*.post {
        
    } */


}


